<% @products.each do |e| %>

<p>
    <%= e.name %>
    <%= e.price %>
    <%= link_to '削除', products_path(e), data: {"turbo-method": :delete} %>
    <%= link_to 'カートに入れる', cart_items_new_path(product_id: e.id) %>
</p>